@*@model AppUser*@

@model Facebook_project.Models.AppUser;


@using Microsoft.AspNetCore.Identity

@*<nav class="navbar navbar-expand-lg navbar-light "></nav>*@
<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container" style="padding-left:35px;">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a asp-action="index" asp-controller="Home"><img src="~/images/facebookLogo.png" class="img-fluid" id="facebookLogo" /></a>

			<button class="navbar-toggler bg-transparent d-md-none" type="button" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false"
					aria-label="Toggle navigation">
				<span><i class="fas fa-bars fa-1x"></i></span>
			</button>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<ul class="nav navbar-nav">

					<partial name="~/Views/Posts/_Search.cshtml">

				<li class="active list-group-item">
					<div class="col-8" style="padding:15px">
						<a href="/Users/UserPage/@Model.Id">
							<img src="/ProfilPics/@Model.PhotoURL" class="img-fluid searchResult">
						</a>
						<a href="/Users/UserPage/@Model.Id" style="color:white;font-weight: bold;">
							@Model.FullName.Split(" ")[0]
						</a>
					</div>
				</li>

				<li class="active list-group-item">
					<div style=" padding:20px;">
						<a style="color:white;font-weight:bold;" asp-action="index" asp-controller="Home">Home</a>
					</div>
				</li>

				<li class="active list-group-item">
					<div style="padding:14px; padding-left:10px">
						<form class="form-inline" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
							<button type="submit" style="color:white;font-weight:bold;outline:none;" class="nav-link btn btn-link">Settings</button>
						</form>
					</div>
				</li>


				<li class="active list-group-item">
					<div style="padding:14px; padding-left:10px">
						<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
							<button type="submit" style="color:white;font-weight:bold;outline:none;" class="nav-link btn btn-link">Logout</button>
						</form>
					</div>
				</li>

				<li class="active list-group-item">
					<i class="btn fas fa-user-friends fa-lg" style="color:white;margin-top:16px;" onclick="FriendRequestsModal()"></i>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<script>

    function FriendRequestsModal() {

        $.ajax({
            type: "GET",
            url: '@Url.Action("FriendRequestsModal","Friends")',//"Friends/FriendRequestsModal/",
            success: function (response) {
                $("#FriendRequestsDiv").html(response);
                $("#FriendRequestsPopupContainer").modal("toggle");
            },
            error: function () {
                alert("Error retreiving Users");
            }
        });
    }

</script>





