

@*@model AppUser*@

@model Facebook_project.Models.AppUser;


@using Microsoft.AspNetCore.Identity
@*@inject SignInManager<AppUser> SignInManager
    @inject UserManager<AppUser> UserManager*@



<div id="SearchSetting" class="navbar-brand">
    <input type="text" id="searchUserTxt">
</div>

<div id="UserSetting">
    <ul class="navbar-nav">


        <li class="nav-item">
            <div>

                <a asp-controller="Users" asp-action="UserPage" asp-route-id="@Model.Id">
                    <img src="~/ProfilPics/@Model.PhotoURL" class="avatar rounded-circle img-fluid icon" alt="profImg" />
                    <div><span>@Model.FullName</span></div>
                </a>

                @*<a class="nav-link" asp-action="" asp-controller="">

                    <img id="homeProfileImg" src="~/femaleProfile.PNG" />
                    <span>@Model.FullName</span>
                </a>*@
            </div>
        </li>
        <li class="nav-item">
            <div>
                <a class="nav-link" asp-action="Index" asp-controller="Home">
                    Home
                </a>
            </div>
        </li>
        @*<li class="nav-item">
            <div>
                <a class="nav-link" asp-action="Home" asp-controller="User">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                </a>
            </div>
        </li>*@
        <li class="nav-item">
            <div>
                <a class="nav-link" asp-action="Home" asp-controller="User">
                    request
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div>
                <a class="nav-link" asp-action="Home" asp-controller="User">
                    Logout
                </a>
            </div>
        </li>





    </ul>
</div>
