@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@*@inject SignInManager<AppUser> SignInManager
    @inject UserManager<AppUser> UserManager*@

@model Facebook_project.Models.ViewModels.PostViewModel
@{
    var claimsIdentity = (ClaimsIdentity)this.User.Identity;
    var claim = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier);
    var userId = claim.Value;

    <div id="PopupContainer" class="modal fade CreateModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"></div>

                <h2>Create</h2>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-4">
                            <form asp-controller="Posts" asp-action="Create" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                                <input type="hidden" asp-for="Post.PublisherId" value="@userId" />
                                <div class="form-group">
                                    <label class="control-label">New Post</label>
                                    <textarea asp-for="Post.Text"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        @Html.ActionLink("Back to List", "Index","Home")
                    </div>

                </div>

                <div class="modal-footer"></div>


            </div>
        </div>
    </div>



}