@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;

@model Facebook_project.Models.Post
@{
    var claimsIdentity = (ClaimsIdentity)this.User.Identity;
    var claim = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier);
    var userId = claim.Value;

    <div id="PopupContainer" class="modal fade CreateModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"></div>

                <h2>Create</h2>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-4">
                            
                            <form method="post" enctype="multipart/form-data">
                                <div class="text-danger"></div>

                                <div class="form-group">
                                    <label class="control-label">New Post</label>
                                    <textarea id="postText"></textarea>
                                </div>

                                <div id="createPostImgDiv" class="col-12">
                                    <img id="createPostImg" class="img-fluid" src="" />
                                </div>

                                <div id="creatPostImgSelectorDiv" class="form-group">
                                    <input type="file" name="file" id="creatPostImgSelector" style="width: 100%;" onchange="readURL(this,'#createPostImg')"/>
                                </div>

                                <div class="form-group">
                                    <input type="button" value="Create" class="btn btn-primary" onclick="addPost()" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        @Html.ActionLink("Back to List", "Index","Home")
                    </div>

                </div>

                <div class="modal-footer"></div>


            </div>
        </div>
    </div>



}

<script>

    function addPost(signedInUserId) {
        var postText = document.querySelector("#postText").value;

        var data = new FormData();
        var files = $("#creatPostImgSelector").get(0).files;

        if (files.length > 0) {
            data.append("postImg", files[0]);
        }
        else {
            if (postText == "") {
                alert("Cannot create an empty post");
                return;
            }
        }

        data.append("postText", postText);

        $.ajax({
            type: "POST",
            url: "Posts/AddPost",
            data: data,
            processData: false,
            contentType: false,

            success: function (response) {

                document.querySelector("#postsContainer").insertAdjacentHTML('afterbegin', response);

                document.querySelector("#postText").value = "";
                document.querySelector('#creatPostImgSelector').remove();
                document.querySelector('#creatPostImgSelectorDiv').innerHTML += '<input type="file" name="file" id="creatPostImgSelector" style="width: 100%;" />';
                document.querySelector('#createPostImg').src = "";
            },
            error: function (response) {
                alert("Error submiting Post");
            }
        });

        $("#PopupContainer").modal("toggle");
    }

</script>