@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@*@inject SignInManager<AppUser> SignInManager
    @inject UserManager<AppUser> UserManager*@

@model Facebook_project.Models.ViewModels.PostViewModel
@{
    var claimsIdentity = (ClaimsIdentity)this.User.Identity;
    var claim = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier);
    var userId = claim.Value;

    <div id="PopupContainer" class="modal fade CreateModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"></div>

                <h2>Create</h2>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-4">
                            
                            <form method="post" enctype="multipart/form-data">
                                <div class="text-danger"></div>

                                <div class="form-group">
                                    <label class="control-label">New Post</label>
                                    <textarea id="postText"></textarea>
                                </div>

                                <div class="form-group">
                                    <input type="file" name="file" id="postImg" style="width: 100%;" />
                                </div>

                                <div class="form-group">
                                    <input type="button" value="Create" class="btn btn-primary" onclick="addPost()" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        @Html.ActionLink("Back to List", "Index","Home")
                    </div>

                </div>

                <div class="modal-footer"></div>


            </div>
        </div>
    </div>



}