@*<div class="col-8">*@
    <div id="SearchSetting" class="navbar-brand dropdown col-4">
        <input type="text" placeholder="Search.." id="myInput" onkeyup="Search()" onfocus="showResults()" @*onfocusout="hideResults()"*@>
        <div id="myDropdown" class="dropdown-content show">
            @*search Results Here*@
        </div>
    </div>
@*</div>*@

<script>

    function Search() {
        var searchKey = $('#myInput').val();

        $.ajax({
            type: "GET",
            url: '@Url.Action("Search","Friends")/' + searchKey,//"Friends/Search/" + searchKey,
            success: function (response) {
                console.log(response);

                var tagsStr = "";
                for (var i = 0; i < response.length; i++) {
                    var obj = response[i];


                    if (obj.hasOwnProperty("fullName") &&
                        obj.hasOwnProperty("id") &&
                        obj.hasOwnProperty("photoURL")) {

                        var fullName = obj['fullName'];
                        var userId = obj['id'];
                        var photoUrl = obj['photoURL'];

                        tagsStr += '<div class="col-8">';
                        tagsStr += '<a href="/Users/UserPage/' + userId + '">';
                        tagsStr += '<img src="/ProfilPics/' + photoUrl +'" class="navbar-toggler-icon img-fluid rounded-circle img-thumbnail" /></a>'
                        tagsStr += '<a href="/Users/UserPage/' + userId + '">' + fullName + '</a>';
                        tagsStr += '</div >';

                    }
                }

                document.querySelector("#myDropdown").innerHTML = tagsStr;

            },
            error: function () {
                alert("Error");
            }
        });
    }

    function showResults() {
        var results = document.querySelector("#myDropdown");
        if (!results.classList.contains("show")) {
            results.classList.add("show");
        }
    }

    function hideResults() {
        setTimeout(function () {
            var results = document.querySelector("#myDropdown");
            if (results.classList.contains("show")) {
                results.classList.remove("show");
        }
        }, 150)
        
    }
</script>