@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@*@inject SignInManager<AppUser> SignInManager
	@inject UserManager<AppUser> UserManager*@

@model Facebook_project.Models.AppUser
@{
	var claimsIdentity = (ClaimsIdentity)this.User.Identity;
	var claim = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier);
	var userId = claim.Value;

	<div id="EditUserImagePopupContainer" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"></div>

				<h2>Edit User Image</h2>
				<div class="modal-body">

					<div class="row">
						<div class="col-md-4">

                            <form method="post" enctype="multipart/form-data">
                                <div class="text-danger"></div>
                                <img id="EditUserImg" class="img-fluid" src="~/ProfilPics/@Model.PhotoURL" />

                                <div id="postImgSelectorDiv" class="form-group">
                                    <input type="file" name="file" id="postImgSelector" style="width: 100%;" onchange="readURL(this,'#EditUserImg')" />
                                </div>
                                <div class="form-group">
                                    <i class="fas fa-backspace" onclick="ResetFile('postImgSelector','postImgSelectorDiv','EditUserImg')"></i>
                                </div>

                                <input type="button" onclick="EditUserImage()" value="Edit" />

                            </form>
						</div>
					</div>

					@*<div>
						

					</div>*@

				</div>

				<div class="modal-footer"></div>


			</div>
		</div>
	</div>



}

