@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@using System.Drawing;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@*@model Facebook_project.Models.ViewModels.UserPosts;*@

@model IEnumerable<Post>


@{
    ViewData["Title"] = "Home Page";
    ViewData["id"] = 0;
    Layout = "_HomeLayout";

}

@if (SignInManager.IsSignedIn(User))
{

    var claimsIdentity = (ClaimsIdentity)this.User.Identity;
    var claim = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier);
    var userId = claim.Value;

    <div class="container">
        @await Html.PartialAsync("~/Views/Posts/_PostsList.cshtml", Model,new ViewDataDictionary(ViewData) { { "IsMyAccount", true}})
    </div>

}




<script type="text/javascript">

    $(document).ready(function () {
        $("#CreatePost").click(function () {
            $("#PopupContainer").modal("toggle");
        });
    });

</script>
