@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@using System.Drawing;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@*@model Facebook_project.Models.ViewModels.UserPosts;*@

@model IEnumerable<Post>


@{
    ViewData["Title"] = "Home Page";
    ViewData["id"] = 0;
    //Layout = "_HomeLayout";

}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@


@if (SignInManager.IsSignedIn(User))
{

    var claimsIdentity = (ClaimsIdentity)this.User.Identity;
    var claim = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier);
    var userId = claim.Value;
    <br />
    <a asp-controller="Users" asp-action="UserPage" asp-route-id="@userId">Profile Page</a>

    <br />
    <div class="container">
        <div class="row">
            <div class="col-3">
                <i class="btn fas fa-user-friends" onclick="FriendRequestsModal()"></i>
            </div>
            <partial name="~/Views/Posts/_Search.cshtml">
        </div>
    </div>

    <p>

        <div class="container">
            <div class="row">


                <input type="text" style="height: 100px" readonly id="CreatePost" class="col-12"
                       data-toggle="modal" data-target="#openModal" value="What's on your mind" />

            </div>
        </div>
    </p>

    @await Html.PartialAsync("~/Views/Posts/_Create.cshtml", new Post());


    @await Html.PartialAsync("~/Views/Posts/_PostsList.cshtml", Model);

}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {
        $("#CreatePost").click(function () {
            $("#PopupContainer").modal("toggle");
        });
    });

    function FriendRequestsModal() {

        $.ajax({
            type: "GET",
            url: '@Url.Action("FriendRequestsModal","Friends")',//"Friends/FriendRequestsModal/",
            success: function (response) {
                $("#FriendRequestsDiv").html(response);
                $("#FriendRequestsPopupContainer").modal("toggle");
            },
            error: function () {
                alert("Error retreiving Users");
            }
        });
    };

    function showResults() {
        var results = document.querySelector("#myDropdown");
        if (!results.classList.contains("show")) {
            results.classList.add("show");
        }
    }

    function hideResults() {
        var results = document.querySelector("#myDropdown");
        if (results.classList.contains("show")) {
            results.classList.remove("show");
        }
    }

</script>
