@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@using System.Drawing;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@*@model Facebook_project.Models.ViewModels.UserPosts;*@

@model IEnumerable<Post>


@{
    ViewData["Title"] = "Home Page";
    ViewData["id"] = 0;
    Layout = "_HomeLayout";

}

@if (SignInManager.IsSignedIn(User))
{

    var claimsIdentity = (ClaimsIdentity)this.User.Identity;
    var claim = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier);
    var userId = claim.Value;
    <br />
    <a asp-controller="Users" asp-action="UserPage" asp-route-id="@userId">Profile Page</a>

    <br />
    <div class="container">
        <div class="row">
            <div class="col-3">
                <i class="btn fas fa-user-friends" onclick="FriendRequestsModal()"></i>
            </div>
            <partial name="~/Views/Posts/_Search.cshtml">
        </div>
    </div>


        <div class="container">
            @await Html.PartialAsync("~/Views/Posts/_PostsList.cshtml", Model)
        </div>

        }

        


        <script type="text/javascript">

    $(document).ready(function () {
        $("#CreatePost").click(function () {
            $("#PopupContainer").modal("toggle");
        });
    });

    function FriendRequestsModal() {

        $.ajax({
            type: "GET",
            url: '@Url.Action("FriendRequestsModal","Friends")',//"Friends/FriendRequestsModal/",
            success: function (response) {
                $("#FriendRequestsDiv").html(response);
                $("#FriendRequestsPopupContainer").modal("toggle");
            },
            error: function () {
                alert("Error retreiving Users");
            }
        });
    };

        </script>
