@model IEnumerable<AppRole>
@{
    ViewData["Title"] = "ListRoles";
}

<h1>All Roles</h1>
@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-controller="Admin" asp-action="CreateRole">ADD New Role</a>
    foreach(var role in Model)
    {
        <div class="card">
            <div class="card-header">
                Role ID : @role.Id
            </div>
            <div class="card-body">
                <h5>@role.Name</h5>
            </div>
            <div class="card-footer">
                <a asp-action="EditRole" asp-controller="Admin" asp-route-Id="@role.Id" class="btn btn-primary">Edit</a>
              @* <a href="#" asp-action="DeleteRole" asp-controller="Admin"  asp-route-Id="@role.Id"  class="btn btn-danger">Delete</a>*@


            </div>

        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            NO Roles Created Yet
        </div>
        <div class="card-body">
            <h5>USE BUTTON BELOW TO CREATE A ROLE</h5>
            <a asp-controller="admin" asp-action="createrole" class="btn btn-primary" style="width:auto">Create Role</a>
        </div>


    </div>
}

